.grid {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    background-color: red;
}

.grid div {
    width: 200px;
    height: 200px;
    background-color: gray;
    font-size: 60px;
    text-align: center;
    font-weight:bold;
}